@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body {
    margin: 0;
    margin-left: 200px;
    display: block;
    background-image: url("https://i.pinimg.com/originals/ee/a2/3c/eea23cff154b11d19ce073307634b313.jpg");
}

.container-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.each-product{
    border-style: solid;
    border-color: pink;
    box-shadow:  0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    margin: 1em;
    padding: 5em; 
    background-color: whitesmoke;
}

.each-product img {
    width: 100%;
    height: 230px;
    margin: 0 auto;
    transition: transform .5s ease;
    border-color: black;
    box-shadow:  0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

h1 {
font-family: 'Raleway', sans-serif;
font-size: 70px;
}